

.header{
    font-size: 40px;
    color: #7d2ae8;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.hello{
    text-align: center;
    color: #7d2ae8;
    font-size: 30px;
}

.game_area{
    text-align: center;

}

