@import "css/reset.css";
@import "css/variables.css";

/*  UTILS */
@import "css/utils/layout.utils.css";
@import "css/utils/spacing.utils.css";
@import "css/utils/typography.utils.css";
@import "css/utils/flex-grid.utils.css";

/*  COMPONENTS (UI) */
@import "css/components/button.component.css";
@import "css/components/input.component.css";
@import "css/components/card.component.css";
@import "css/components/reel.component.css";

body{
    background-color: #952CE5;
}

.aaa{
    margin-left: 100px;
    margin-right: 100px;
}

nav{
    background-color: #200E3D;
    color: white;
    display: flex;
    justify-content: center;
    
}

nav a{
    margin: 20px;
    
}
nav a:hover{
    color: #38A5ED;
}

.img_of_rob{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.img_of_rob img{
    border-radius: 400px;
}

.introduction{
    display: flex;
    justify-content: center;
}

.introduction p{
    font-size: xx-large;
    font-weight: bold;
}

.bbb{
    display: flex;
    justify-content: center;
}

.about_me{
    background-color: white;
    margin: 200px;
    padding: 100px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 1200px;
    align-items: center;
    text-align: center;
    
    justify-self: center;
}

.about_me h3{
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight: bold;
}

.pic_and_disc{
    display: flex;
    justify-content:space-around;
    
    
}

.pic_and_disc img{
    width: 400px;
    height: 480px; 
    margin-left: 60px;
    /* margin-bottom: 60px; */
}

.text_area{
    text-align: start;
    /* margin-left: 50px; */
    margin-right: 120px;
    margin-left: 40px;
    margin-top: 40px;
}

.ccc{
    display: flex;
    justify-content: center;
}

.ccc h3{
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-size: x-large;
    font-weight: bold;
}

.earth_bbc{
    display: flex;
}

.earth{
    margin-right: 20px;
}

.ccc h4{
    color: black;
    text-align: center;
    padding: 16px;
    background-color: white;
    font-size: x-large;
}

.bbc{
    margin-left: 20px;
    margin-bottom: 50px;
}

.ccc img{
    border-radius: 20px;
    width: 460px;
}

.contact_area{
    background-color: #3B376D;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    
}
.contact_area p {
    margin-bottom: 8px
}
.abc{
    text-align: center;
    width: 1000px;
    
}

.abc h3{
    text-align: center;

}

.sss{
    display: flex;
    justify-content: center;
    /* text-align: center; */

}

.message_area{
    margin-top: 36px;
    text-align: start;

}
.message_area input{
    height: 160px;
}

.qwe{
    text-align: end;
    margin-top: 20px;
    border-radius: 20px;
}

.qwe button{
    border-radius: 4px;
    background-color: #ADD8E6;
    margin-bottom: 20px;
}

.contact_area h3{

}

footer{background-color: black;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}


.upper_footer{
    background-color: #3C366E;
    display: flex;
    justify-content: center;
    color: white;
}

.contact button{
    
}

.sentence{
    text-align: center;
    
}

.writing_area{
    display: flex;
}

.info{
    margin-right: 60px;
}
.info input{
    margin-bottom: 20px;
}

.messageeee{
    margin-left: 60px;

}
.messageeee input{
    height: 260px;
    width: 600px;
    margin-bottom: 50px;
}